In [1]:
import pandas as pd

In [3]:

variable1 = pd.read_csv("data.csv", header = None)
variable1

            0          1
0   32.502345  31.707006
1   53.426804  68.777596
2   61.530358  62.562382
3   47.475640  71.546632
4   59.813208  87.230925
..        ...        ...
95  50.030174  81.536991
96  49.239765  72.111832
97  50.039576  85.232007
98  48.149859  66.224958
99  25.128485  53.454394

[100 rows x 2 columns]

In [8]:
mylist = ['7', '8', '9', '10','11']

for index in range(len(mylist)):
    print(f"index: {index}, Element: {mylist[index]}")

index: 0, Element: 7
index: 1, Element: 8
index: 2, Element: 9
index: 3, Element: 10
index: 4, Element: 11