In [1]:
import pandas as pd

##### supervised learning is of two types : regression and classification

##### in regression, universal truth does not exist and neither the universal boundaries.

##### in classification the output is fixed and categorised into groups and the output will fall in any of these groups.

### Simple linear regression

##### cykit learn, closed form search

##### global gradient descent method

In [2]:
var1 = pd.read_csv("data.csv", header = None)
var1

            0          1
0   32.502345  31.707006
1   53.426804  68.777596
2   61.530358  62.562382
3   47.475640  71.546632
4   59.813208  87.230925
..        ...        ...
95  50.030174  81.536991
96  49.239765  72.111832
97  50.039576  85.232007
98  48.149859  66.224958
99  25.128485  53.454394

[100 rows x 2 columns]

In [3]:
x = var1[0]
X = pd.DataFrame(x)
X

            0
0   32.502345
1   53.426804
2   61.530358
3   47.475640
4   59.813208
..        ...
95  50.030174
96  49.239765
97  50.039576
98  48.149859
99  25.128485

[100 rows x 1 columns]

In [4]:
y = var1[1]
Y = pd.DataFrame(y)
Y

            1
0   31.707006
1   68.777596
2   62.562382
3   71.546632
4   87.230925
..        ...
95  81.536991
96  72.111832
97  85.232007
98  66.224958
99  53.454394

[100 rows x 1 columns]

In [12]:
from sklearn import model_selection

In [29]:
X_train, Y_train, X_test, Y_test = model_selection.train_test_split(X,Y,test_size = 0.2, random_state = 2)

In [31]:
X_train

            0
35  45.440531
11  54.351635
84  57.788224
44  62.997481
73  43.107820
..        ...
43  43.870613
22  47.481209
72  46.682229
15  48.955889
40  44.555608

[80 rows x 1 columns]

In [32]:
X_train.shape

(80, 1)

In [33]:
Y_train.shape

(20, 1)

In [37]:
X_train = X_train[ : len(Y_train)]
X_train

            0
35  45.440531
11  54.351635
84  57.788224
44  62.997481
73  43.107820
5   55.142188
25  59.370822
77  36.930077
74  70.346076
62  52.378446
65  39.557901
1   53.426804
18  45.618644
48  33.864215
36  61.896223
78  55.805733
6   52.211797
89  38.005488
91  53.691640
10  45.419730

In [38]:
Y_train.shape

(20, 1)

In [39]:
Y_test.shape

(20, 1)

In [40]:
X_test = X_test[:len(Y_test)]
X_test

             1
35   66.588144
11   82.478847
84   99.051415
44  115.244153
73   57.812513
5    78.211518
25   74.765564
77   55.231661
74  104.257102
62   86.098291
65   44.862491
1    68.777596
18   48.847153
48   52.725494
36   77.768482
78   79.550437
6    79.641973
89   61.366905
91   85.668203
10   55.165677

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
LR = LinearRegression()

In [43]:
LR.fit(X_train, Y_train)

LinearRegression()

In [44]:
# Predict the values of the target variable for the test set
Y_pred = LR.predict(X_test)

In [45]:
# Evaluate the model
print("R-squared:", LR.score(X_test, Y_test))

R-squared: -1.5696059787703254